// Here you can add other styles

.looksLink{
  color: #20a8d8;
  text-decoration: none;
  background-color: transparent;
}

.looksLink:hover{
  color: #167495;
  text-decoration: underline;
}

.nav-link{
  padding: 0;
}

.app-header .navbar-nav .dropdown-menu-right{
  right: 2px !important;
}

.app-header .navbar-nav{
  margin: 0 10px 0 0;
}
